/Generator.class
/Searching.class
/StringFromFileLoader.class
/Pokemon.class
/Attack.class
/MainBattle.class
/Effect.class
/MainBattle$1.class
/MainBattle$2.class
/MainBattle$3.class
/MainBattle$4.class
